<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>Com.Servlet.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>Com.Servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RateServlet</display-name>
    <servlet-name>RateServlet</servlet-name>
    <servlet-class>Com.Servlet.RateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RateServlet</servlet-name>
    <url-pattern>/RateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StockServlet</display-name>
    <servlet-name>StockServlet</servlet-name>
    <servlet-class>Com.Servlet.StockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockServlet</servlet-name>
    <url-pattern>/StockServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingServlet</display-name>
    <servlet-name>BookingServlet</servlet-name>
    <servlet-class>Com.Servlet.BookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingServlet</servlet-name>
    <url-pattern>/BookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Consumer</display-name>
    <servlet-name>Consumer</servlet-name>
    <servlet-class>Com.Servlet.Consumer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Consumer</servlet-name>
    <url-pattern>/Consumer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsumerServlet</display-name>
    <servlet-name>ConsumerServlet</servlet-name>
    <servlet-class>Com.Servlet.ConsumerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsumerServlet</servlet-name>
    <url-pattern>/ConsumerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsumerRegistrationServlet</display-name>
    <servlet-name>ConsumerRegistrationServlet</servlet-name>
    <servlet-class>Com.Servlet.ConsumerRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsumerRegistrationServlet</servlet-name>
    <url-pattern>/ConsumerRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditConsumer</display-name>
    <servlet-name>EditConsumer</servlet-name>
    <servlet-class>Com.Servlet.EditConsumer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditConsumer</servlet-name>
    <url-pattern>/EditConsumer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DiliveryServlet</display-name>
    <servlet-name>DiliveryServlet</servlet-name>
    <servlet-class>Com.Servlet.DiliveryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiliveryServlet</servlet-name>
    <url-pattern>/DiliveryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Com.Servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>